<% content_for :head do %>
  <title>打包</title>
<% end %>

<% content_for :script do %>
<script type="text/javascript">
	$('.ui.accordion').accordion();
</script>
<% end %>

<div class="ui fixed inverted menu">
	<a href="#" class="header item"><img class="logo" src="images/logo.png"> 打包工具</a>
	<div class="ui simple dropdown item">目录 <i class="dropdown icon"></i>
		<div class="menu">
			<a class="item" href="#">test</a>
			<div class="item">
				<i class="dropdown icon"></i> Sub Menu 
				<div class="menu">
					<a class="item" href="#">Link Item</a>
				</div>
			</div>
		</div>
	</div>

	<div class="right menu">
		<div class="item"><img class="ui avatar image" src="images/wireframe/square-image.png"></div>
	</div>
</div>

<div class="ui padded grid">
  <div class="blue row">
    <div class="column">Red</div>
  </div>
  <div class="red row">
    <div class="column">Orange</div>
    <div class="column">Orange</div>
  </div>
</div>

